doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title My-Giro
        link(rel="stylesheet", href="../src/styles/style.css")
    body
        include ../modules/header.pug

        div.background
            h2.name_of_page О нас

        div.main
            div.text 
                p.zag MyGiro.ru - магазины техники будущего в Москве и Екатеринбурге
                p В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от                 известных мировых производителей.<br>В нашем интернет-магазине представлен большой выбор                 гироскутеров, сигвеев и электросамокатов от известных мировых производителей. Все товары,                 представленные на нашем сайте, отобраны лучшими специалистами в этой области. Купить гироскутер,                 электросамокат или сигвей недорого.
                p.zag Адреса магазинов:

                p 
                    span.zag г. Москва, ул. Смирная д.85Б ,
                    span вход №1, ​Бухта ЮГ, Варшавское шоссе 21 километр, ст26, пос. Битца, Ленинский городской округ.
                p 
                    span.zag г. Екатеринбург, ул. Куйбышева 61 ,
                    span ТРЦ Саларис​Киевское шоссе 23 км, 1​1 этаж​31 филиал
                       
                p 
                    span.zag Если у вас есть предложения или вопросы
                    span , вы всегда можете написать напрямую на почту создателю Futumag – 
                    a(href="futumag24@mail.ru") futumag24@mail.ru
            input(type="button", value="В КАТАЛОГ")
        
        include ../modules/footer.pug